<mat-tab-group class="mat-tab-group">
  <mat-tab label="Novidades do Mundos Games">
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="forma">
      <ng-container *ngFor="let novidades of jogosNovos" class="card">

        <mat-card class="example-card" fxFlex=" 0 1 calc(33.3% - 11px)" fxFlex.lt-md="0 1 calc(50% - 11px)"
        fxFlex.lt-sm="100%">

          <mat-card-title class="mat-card.title">
             <div class="row">
               <p>
                 <span class="spanNome" fxFlex="70" fxLayoutAling="start center">{{novidades.nome}}</span>
                 <span fxFlex></span>
                 <span class="spanDesenv" fxFlex="25" fxLayoutAling="end center">{{novidades.desenvolvedora}}</span>
               </p>
                  <p class="spanGenero">
                    Gênero: <span>{{ novidades.genero }}</span>
                  </p>
             </div>
          </mat-card-title>

          <mat-card-content>
            <p>
              Carlos Rodrigo
            </p>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </mat-tab>
  <mat-tab label="Games Atuais">Games Atuais</mat-tab>
  <mat-tab label="Games Clássicos">Games Clássicos</mat-tab>
</mat-tab-group>
